---
import WeddingInvitation from '@solid/WeddingInvitation.tsx';
---
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
</head>
<body>
  <WeddingInvitation client:load />
</body>
<style>
  html {
    font-size: 16px;
  }
  body {
    margin: 0;
    font-size: 1rem;
  }
</style>

