---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | 王晓博" description="About 王晓博 Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero title="关于" />
			<section>
				<h2 class="section-title">教育</h2>
				<div class="content">
					<p>西安电子科技大学</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">人民日报社</h2>
				<div class="content"><p>旅游产品前端负责人</p></div>
			</section>
			<section>
				<h2 class="section-title">百度</h2>
				<div class="content"><p>智慧课堂、智能云顾问</p></div>
			</section>
			<section>
				<h2 class="section-title">腾讯</h2>
				<div class="content"><p>腾讯手游助手、Gameloop、PC应用宝</p></div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
