---
import Grid from "../components/Grid.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="草稿 | 王晓博" description="Code Snippets">
  <Grid variant="small">
    {
      ['Medium', 'BuzzFeed', 'The Next Web', 'awwwards.', 'TechCrunch'].map((brand) => (
        <li class="mention-card">
          <p>{brand}</p>
        </li>
      ))
    }
  </Grid>
</BaseLayout>
<style>
	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

  @media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}

</style>