---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import dayjs from 'dayjs';
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import CallToAction from '../components/CallToAction.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
// import PortfolioPreview from '../components/PortfolioPreview.astro';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import Skills from '../components/Skills.astro';
import { BlogPost, contentfulClient } from '../lib/contentful';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

const { items: lastThreePosts } = await contentfulClient.getEntries<BlogPost>({
	content_type: 'blogPost',
	limit: 3,
	order: 'sys.createdAt'
});

---

<BaseLayout>
	<div class="stack gap-20">
		<div class="wrapper stack gap-8">
			<header class="hero">
				<Hero
					title="欢迎来到我的酒馆，外面冷坏了，来玩把昆特牌吧！"
					tagline="这里是来自深圳的互联网从业人员，专注于架构、框架、性能等方向"
					align="start"
				>
					<div class="roles">
						<Pill><Icon icon="code" size="1.33em" />前端</Pill>
						<Pill><Icon icon="pencil-line" size="1.33em" />写作</Pill>
						<Pill><Icon icon="finance" size="1.33em" />经济学</Pill>
					</div>
				</Hero>
				<img
					alt="shawbo at Datang Furong Garden's youthful time"
					width="300"
					height="199"
					src="/assets/portrait.jpg"
				/>
			</header>

			<Skills />
		</div>

		<main class="wrapper stack gap-20">
			<section class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>最近发表</h3>
					<p></p>
				</header>

				<div class="cta">
					<CallToAction href="/blog/">
						查看全部
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</div>
			</section>
			<div class="last-posts">
			{
				lastThreePosts.map(post => <a
					class="post" href={`/blog/${post.fields.slug}`}>
					<div class="overflow-hidden rounded-md bg-slate-800">
						<div class="cover-img">
							<img class="img" src={post.fields.heroImage.fields.file.url} alt="Image post" loading="lazy" />
						</div>
						<div class="text">
							<h2 class="title">{post.fields.title}</h2>
							<p class="date">{dayjs(post.fields.publishDate).format('YYYY年MM月DD日')}</p>
							<p class="description">{post.fields.description}</p>
						</div>
					</div>
				</a>)
			}
			</div>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>

<style lang="scss">
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: none;
	}

	.hero img {
		aspect-ratio: 5 / 4;
		object-fit: cover;
		object-position: top;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 3 / 2;
			border-radius: 1rem;
			object-fit: cover;
		}
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.last-posts {
		display: grid;
		gap: 1.5rem;
		grid-template-columns: repeat(3,minmax(0,1fr));
		.post {
			text-decoration: none;
			background-color: rgba(30, 41, 50);
			border-radius: 0.375rem;
			overflow: hidden;
			.cover-img {
				padding-bottom: calc(2/3 * 100%);
				position: relative;
				.img {
					object-position: center;
					object-fit: cover;
					width: 100%;
					height: 100%;
					position: absolute;
					inset: 0;
				}
			}

			.text {
				text-align: center;
				padding: 1rem 0.75rem 1.5rem;
				.title {
					font-weight: 600;
					font-size: 1.25rem;
					line-height: 1.75rem;
				}
				.description {
					color: #fff;
					display: -webkit-box;
					overflow: hidden;
					-webkit-line-clamp: 3;
					-webkit-box-orient:vertical;
					text-overflow: ellipsis;
				}
			}
		}
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background: url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat, var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-2xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}
</style>
